{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="robots" content="noindex,nofollow">
    <meta name="referrer" content="no-referrer">
    <title>{% block title %} Feedsite {% endblock %}</title>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'feedsite/solarized-dark.css' %}" />
    {% block header %}{% endblock %}
</head>
<body>
    <header>
        <label for="show-menu" class="show-menu">Show Menu</label>
        <input type="checkbox" id="show-menu" role="button">
        <nav id="head-nav-bar">
            {% with request.resolver_match.url_name as url_name %}
            <a class="{% if url_name == 'unread' %}active{% endif %}" href="{% url 'feedsite:unread' %}">Unread</a>
            <a class="{% if url_name == 'history' %}active{% endif %}" href="{% url 'feedsite:history' %}">History</a>
            <a class="{% if url_name == 'feeds' %}active{% endif %}" href="{% url 'feedsite:feeds' %}">Feeds</a>
            <a class="{% if url_name == 'settings' %}active{% endif %}" href="{% url 'feedsite:settings' %}">Settings</a>
            <a id="logout"  href="{% url 'logout' %}">Logout</a>
            {% endwith %} 
        </nav>
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>